@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: cadetblue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-container {
  display: flex;
  min-height: 100vh; /* Use min-height to ensure the container takes at least the full height of the viewport */
  flex-direction: column;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  /* Add styles for screens with a width of 768 pixels or less */
  .page-container {
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

@media screen and (min-width: 769px) {
  /* Add styles for screens with a width of 769 pixels or more */
  .page-container {
    padding: 20px; /* Adjust padding for larger screens */
  }
}
